$color-primary: #4b5b8b;
$color-secondary: #f0f6ff;
$color-background: #e6e6e6;
$color-text-title: #8c3a52;
$color-text-dark: #4f5089;
$color-button-text: #fff;
$color-button: #8c3a52;
$color-button-hover: #a94b64;
$color-burgundy-pink: #cfa18d;

$font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$radius: 8px;
$transition: 0.3s easy;