.contact{
    text-align: center;
    padding: 5rem, 2rem;
    background-color: $color-background;

    &__contacts{
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;

        a{
            background-color: $color-secondary;
            color: $color-text-dark;
            padding: 0.8rem 1.5rem;
            border-radius: $radius;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            transition: background $transition;
        

        svg{
            font-size: 1.5rem;
        }
        &:hover {background-color: $color-burgundy-pink;}
    }}
}